.App {
  text-align: center;
}
.select_box{
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select_box1{
  display: block;

}
.main_select{
  width: 300px;
  margin: 100px auto;
  padding: 40px 0px;
  border: 1px solid gray;
}
.main_inner{
  height: 18vh;
  overflow-y: scroll;
}
.middle_div{
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px 5px;
  position: relative;
}

.upper_div , .lower_div{
  padding: 10px 0px;
}

.up_btn{
  text-align: left;
  position: relative;
  right: -165px;
  font-size: 24px;
    color: #605959;
  top: 22px;
}
.down_btn{
  text-align: left;
  position: relative;
  right: -165px;
  font-size: 24px;
    color: #605959;
  top: -21px;
}

.regiter_form{
  width: 200px;
  margin: 0 auto;
}
.form-field{
  margin-bottom: 15px;
  position: relative;
}

.error{
  position: absolute;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 12px;
    left: 9px;
    color: red;
}
